# Next Public
NEXT_PUBLIC_APP_URL=your_app_url_here
NEXT_PUBLIC_VAPID_PUBLIC_KEY=your_vapid_public_key_here

# Next Auth
NEXTAUTH_SECRET=your_auth_secret_here

# APIs
MERCADOPAGO_ACCESS_TOKEN=your_mercadopago_access_token_here

# VAPID
VAPID_PRIVATE_KEY=your_vapid_private_key_here